<section class="container d-grid gap-3 mt-4">
  <h1 class="fs-1 fw-bold mb-3">Filmes em Alta</h1>

  <div class="row">
    <div class="col mb-3">
      <ngb-carousel #carousel [interval]="4000">
        <ng-template ngbSlide *ngFor="let filme of filmesCarrossel">
          <div class="picsum-img-wrapper">
            <img [ngSrc]="urlImg + filme.imgBackdrop" width="180" height="650" class="w-100 rounded-3"/>
          </div>
          <div class="card-body carousel-caption corpo-card">
            <h3>{{ filme.titulo }}</h3>
            <p>{{ filme.descricao }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    
  </div>
  
  <h1 class="fs-1 fw-bold mb-3">Filmes Populares</h1>

  <div class="row">
    <div class="col-6 col-md-4 col-lg-2" *ngFor="let filme of filmesPopulares">
      <div class="d-grid text-center">
        <app-card-filme [filme]="filme"></app-card-filme>
      </div>
    </div>
  </div>

  <div class="border-top border-warning mt-5"></div>
  <h1 class="fs-1 fw-bold">Filmes em Cartaz</h1>

  <app-filme-em-cartaz [filmesEmCartaz]="filmesEmCartaz"></app-filme-em-cartaz>

  <div class="border-top border-warning mt-5"></div>
  <h1 class="fs-1 fw-bold">Filmes mais Votados</h1>

  <app-filme-mais-votados [ehRelacionado]="false" [filmesMaisVotados]="filmesMaisVotados"></app-filme-mais-votados>
  
</section>
<footer class="rodape mt-5 border-top border-warning p-2">
  <i class="bi bi-github text-light click-icon fs-4" (click)="redirecionarUser()"></i>
</footer>
